@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #1ca7c8;
    --secondary: #6e859f;
    --tertiary: #284260;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
    --primary: #1ca7c8;
    --secondary: #8da9c9;
    --tertiary: #b0c4de;
  }

  body {
    background: var(--background) !important;
    color: var(--foreground) !important;
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@layer components {
  .text-linear {
    background: linear-gradient(90deg, #8c61d5, #1ca7c8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer utilities {
  .text-primary {
    color: var(--primary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .text-tertiary {
    color: var(--tertiary);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .text-background {
    color: var(--background);
  }

  .bg-background {
    background-color: var(--background);
  }

  .bg-foreground {
    background-color: var(--foreground);
  }

  .bg-tertiary {
    background-color: var(--tertiary);
  }

  .font-chakra {
    font-family: var(--font-chakra-petch), sans-serif;
  }
}
